{% extends "public/layout.njk" %}

{% block head %}
    <title>NBA - Select Player</title>
{% endblock %}

{% block content %}
    <main>
        <div class="nome-jogador">Best Players</div>
        <div class="descricao">All players with more than 2500 points, ordered by the best!</div>
        <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Player</th>
                <th>Season</th>
                <th>Points</th>
                <th>N. of Games</th>
            </tr>
            </thead>
            <tbody>
            {% for player in players %}   
            <tr>
                <td><a href="playerstats/{{player.id}}">{{player.PlayerName}}</a></td>
                <td>{{player.Season}}</td>
                <td>{{player.Pontos}}</td>
                <td>{{player.Jogos}}</td>
            </tr>
            {% endfor %}
            <tbody>
        </table>
    </main>
{% endblock %}

