{% extends "public/layout.njk" %}

{% block head %}
    <title>Foodfy - Sobre Nós</title>
{% endblock %}

{% block content %}
    <main>
        <div class="not-found">
            <img src="/img/not-found.png" alt="Erro Interno">
            <h2>Shii - Sua sopa queimou</h2>
            <p>Erro Interno - Tente novamente mais tarde.</p>
        </div>
    </main>
{% endblock %}