{% extends "public/layout.njk" %}

{% block head %}
    <title>NBA Stats - Seja bem-vindo!</title>
{% endblock %}

{% block content %}
    <main>
        <div class="container-index">
            <p class="titulo-index">NBA Stats</p>
            <div class="descricao-index">
                Fundada em 1946, A NBA (National Basketball Association) se tornou a principal liga profissional de basquete do mundo.

<br> O nosso objetivo de analisar a evolução da pontuação e do jogo de basquete ao longo dos últimos 71 anos, vamos investigar as mudanças nas regras, estratégias e estilos de jogo, bem como o impacto dessas transformações no esporte, oferecendo insights valiosos sobre a história e desenvolvimento do basquete.
            </div>
            <img class="lebron" src="/img/lebron.jpg" alt="Lebron">
        </div>
    </main>
{% endblock %}