{% extends "public/layout.njk" %}

{% block head %}
    <title>Foodfy - Sobre Nós</title>
{% endblock %}

{% block content %}
    <main>
        <div class="not-found">
            <img src="/img/not-found.png" alt="Página não encontrada">
            <h2>Seu bolo solou!</h2>
            <p>Erro 404 - Página não encontrada</p>
        </div>
    </main>
{% endblock %}