<header>
    <div class="container">
        <div class="row">
            <a href="/" class="logo"><img src="/img/nba-logo.png" alt="NBA"></a>
            <div class="menu">
                <a href="/playerstats/2544">Player Stats</a>
                <a href="/more-than-hundred-seasons">Teams 100+</a>
                <a href="/more-than-thirty-seasons">Players 30+</a>
                <a href="/best-players">Best Players</a>
                <a href="/best-teams">Best Teams</a>
            </div>
            <div class="search">
                    <form action="/search" method="GET">
                        <input 
                            type="text"
                            name="search"
                            placeholder="Search Player"
                        >
                        <button type="submit">Buscar</button>
                    </form>
                </div>
        </div>
    </div>
</header>