<link rel="stylesheet" href="/styles/public/index.css">
<link rel="stylesheet" href="/styles/public/playerstats.css">
<link rel="stylesheet" href="/styles/public/errors.css">
<link rel="stylesheet" href="/styles/public/search.css">
